// Typography
$base-font-family         = arial, sans-serif
$base-font-size           = 16px
$base-line-height         = 24px

$legal-font-size          = 10px
$legal-line-height        = 14px


// Widths and heights
$tiny                     = 480px
$small                    = 600px
$regular                  = 768px
$large                    = 1024px
$max-width                = $small
$default-spacer           = 20px
$column-gutter            = $default-spacer

// Background-colors
$main-bg-color            = #ffffff
$content-bg-color         = #ffffff


// Text colors
$text-color               = #000000
$legal-color              = #6d6d6d
$legal-light              = #b8b8b8

$link-color               = #0000ff
$visited-color            = $link-color
$hover-color              = $link-color
$active-color             = $link-color
$mobile-link-color        = $text-color
$mobile-legal-link-color  = $legal-color
