//- [ #bg-image-table ]
table#bg-image-table.bg(cellpadding="0" cellcpacing="0" border="0" width="100%")
  tr
    td.spacer.width &nbsp;
    td

      table(cellpadding="0", cellcpacing="0", border="0", width="100%")
        tr: td(bgcolor="#000000" style="background-image: url('img/bg.jpg') center center;" background="img/bg.jpg" height="150")

          //- [ Content with background image ]

          | <!--[if gte mso 9]>
          | <v:rect style="width:560px;height:150px;" strokecolor="none">
          | <v:fill type="tile" color="#000000" src="img/bg.jpg" /></v:fill>
          | </v:rect>
          | <v:shape id="NameHere" style="position:absolute;width:560px;height:150px;">
          | <![endif]-->

          table.bg-content(cellpadding="0", cellspacing="0", border="0", width="100%", height="100%")
            tr: td.type
              | Content goes over background image

          | <!--[if gte mso 9]>
          |  </v:shape>
          | <![endif]-->

          //- [ End: Content with background image ]


    td.spacer.width &nbsp;
  tr: td.spacer.height(colspan="3") &nbsp;
//- [ End: #bg-image-table ]
