//- [ #footer-table ]
table#footer-table(cellpadding="0",cellspacing="0", border="0", width="100%")

  tr: td.spacer.height.lrg(colspan="3") &nbsp;

  tr
    td.spacer.width.lrg.height &nbsp;
    td.border-top.height &nbsp;
    td.spacer.width.lrg.height &nbsp;

//- [ End: #body-table  ]
